<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.cluboxygen.net/login_cluboxy/image/img-2.jpeg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" #name class="fadeIn second" name="login" placeholder="login">
      <input type="password" id="password" #pwd class="fadeIn third" name="login" placeholder="password">
      <input type="submit" (click)="login(name, pwd)" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" >Forgot Password?</a>
    </div>

  </div>
</div>
