<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand d-flex align-items-center">
      <span class="glyphicon glyphicon-play-circle"></span>
      <Strong>Video Course</Strong>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">User Login</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Log Off</a>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Courses</li>
  </ol>
</nav>
<form class="form-inline mt-2 mt-md-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="text-right mb-3">
  <a href="#" class="btn btn-primary">Add course</a>
</div>
