<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-group">
    <label for="title">Title</label>
    <p [ngClass]="{'error':!form.get('title').valid && form.get('title').touched}">
        <input type="text"  class="form-control" id="title" placeholder="video Course 1" formControlName="title">
    </p>
    <span *ngIf="!form.get('title').valid && form.get('title').touched">Max length must be 50 characters and this filed is required</span>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <p [ngClass]="{'error':!form.get('description').valid && form.get('description').touched}">
      <textarea class="form-control" id="description" rows="3" placeholder="A very big description" formControlName="description"></textarea>
    </p>
    <span *ngIf="!form.get('description').valid && form.get('description').touched">Max length must be 500 characters and this field is required</span>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <p [ngClass]="{'error':!form.get('dateStr').valid && form.get('dateStr').touched}">
      <input type="text" class="form-control" id="date" placeholder="05-29-2020" formControlName="dateStr">
    </p>
    <span *ngIf="!form.get('dateStr').valid && form.get('dateStr').touched">Set a valid format dd-MM-yyyy</span>
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <p [ngClass]="{'error':!form.get('duration').valid && form.get('duration').touched}">
      <input type="text" class="form-control" id="duration" placeholder="120" formControlName="duration">{{ duration | duration}}
    </p>
    <span *ngIf="!form.get('duration').valid && form.get('duration').touched">Must be only numbers</span>
  </div>

  <div class="form-group">

    <label for="authors">Authors</label>
    <p [ngClass]="{'error':!form.get('authors').valid && form.get('authors').touched}">
      <input type="text" class="form-control" id="authors" placeholder="Miguel De Icaza" formControlName="authors">
    </p>
      <span *ngIf="!form.get('authors').valid && form.get('authors').touched">You have to choose at least one</span>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="!form.valid">Save</button>
    <a class="btn btn-outline-danger my-2 my-sm-0" [routerLink]="['/courses']">Cancel</a>
  </div>
</form>
